<div class="header">
    <div class="header_content">
        <div class="logo">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 600">
                <path fill="none" stroke-width="20" stroke-miterlimit="10" d="M66.19 157.25L307.38 18l241.19 139.25v278.5L307.38 575 66.19 435.75z"/>
                <text transform="translate(86.001 397.736)" font-size="291.331" font-family="Broadway">DC</text>
            </svg>
        </div>
        <div class="header_options">
            <ul class="nav_menu">
                <li class="active"> <a href="home/#about">About me</a></li>
                <li> <a href="/#">Projects</a></li>
                <li> <a href="/#">Tecnologies</a></li>
                <li> <a href="/#">Contact</a></li>
            </ul>
        </div>
        <div class="three_lines">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </div>
</div>