/* You can add global styles to this file, and also import other style files */

:root{
    --primary_color : #000C30;
    --color_1: #133B5C;
    --color_2: #1E5F74;
    --color_3: #FCDAB7;


    --font_family: 'Source Sans Pro', sans-serif;
}